<h1 class="text-danger text-center">Welcome to {{ title }}!</h1>
<hr />

<div class="row">
  <div class="col-6">
    <div class="form-inline">
      <div class="form-group text-center">
        <div class="input-group mr-3">&nbsp;&nbsp;
          <input type="text" class="form-control" placeholder="Flight Number..." [formControl]="searchFormControl">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary search-box" (click)="searchFormControl.setValue('')">
              x
            </button>
          </div>
          <input type="text" class="form-control" placeholder="Origin ..." [formControl]="searchFormControl">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary search-box" (click)="searchFormControl.setValue('')">
              x
            </button>
          </div>
          <input type="text" class="form-control" placeholder="Destination..." [formControl]="searchFormControl">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary search-box" (click)="searchFormControl.setValue('')">
              x
            </button>
          </div>
          <input type="text" class="form-control" placeholder="Date..." [formControl]="searchFormControl">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary search-box" (click)="searchFormControl.setValue('')">
              x
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<table cdk-table [dataSource]="dataOnPage" class="table table-hover">

  <ng-container cdkColumnDef="flightNumber">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('flightNumber')">
      Flight Number <span
        *ngIf="sortKey.value === 'flightNumber'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.flightNumber}} </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="carrier">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('carrier')">
      Carrier <span *ngIf="sortKey.value === 'carrier'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.carrier}} </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="origin">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('origin')">
      Origin <span *ngIf="sortKey.value === 'origin'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.origin}}
    </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="departure">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('departure')">
      Departure <span *ngIf="sortKey.value === 'departure'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.departure | date:'short'}}
    </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="destination">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('destination')">
      Destination <span *ngIf="sortKey.value === 'destination'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.destination}}
    </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="arrival">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('arrival')">
      Arrival <span *ngIf="sortKey.value === 'arrival'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.arrival | date:'short'}}
    </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="aircraft">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('aircraft')">
      Aircraft <span *ngIf="sortKey.value === 'aircraft'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.aircraft}}
    </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="distance">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('distance')">
      Distance <span *ngIf="sortKey.value === 'distance'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.distance}}
    </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="travelTime">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('travelTime')">
      Travel Time <span *ngIf="sortKey.value === 'travelTime'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.travelTime}}
    </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <ng-container cdkColumnDef="status">
    <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('status')">
      Status <span *ngIf="sortKey.value === 'status'">{{ sortDirection.value === 'asc' ? '↥' : '↧' }}</span>
    </th>
    <td cdk-cell *cdkCellDef="let row">
      {{row.status}}
    </td>
    <td cdk-cell *cdkFooterCellDef="let row"> test </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns.value"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns.value"></tr>
</table>

<div class="col-6">
  <div class="float-right">
    <ngb-pagination [collectionSize]="tableDataSource.value.length" [pageSize]="pageSize.value"
      [page]="currentPage.value" (pageChange)="currentPage.next($event)">
    </ngb-pagination>
  </div>
</div>